/* Custom Margins */
.space-all {
  margin: 3rem;
}

.space-top {
  margin-top: 3rem;
}

.space-top-half {
  margin-top: 1.5rem;
}

.space-bottom {
  margin-bottom: 3rem;
}

.space-bottom-half {
  margin-bottom: 1.5rem;
}

.space-left {
  margin-left: 3rem;
}

.space-right {
  margin-right: 3rem;
}

.no-space-bottom {
  margin-bottom: 0;
}

/* Custom Padding */
.pad-all {
  padding: 3rem;
}

.pad-all-2x {
  padding: 6rem 3rem;
}

.pad-top {
  padding-top: 3rem;
}

.pad-top-2x {
  padding-top: 6rem;
}

.pad-bottom {
  padding-bottom: 3rem;
}

.pad-left-half {
  padding-left: 1.5rem;
}

.pad-right-half {
  padding-right: 1.5rem;
}

.height-half,
.height-50 {
  height: 50vh;
}

.height-third,
.height-333 {
  height: 33.33333vh;
}

.height-two-thirds,
.height-666 {
  height: 66.66667vh;
}

/* Responsive spacing util adjustments */
@media screen and (max-width: 40rem) {
  .space-all {
    margin: 3rem 1rem;
  }

  .pad-all {
    padding: 3rem 1rem;
  }

  .height-half,
  .height-50 {
    height: auto;
  }

  .height-third,
  .height-333 {
    height: auto;
  }
}

@media screen and (min-width: 52.06rem) {

}
