/* Colors */
.salmon {
  color: #e7655b;
}

.cherry {
  color: #720500; /* rgb(114, 5, 0) */
}

.firebrand-red {
  color: #e0382b;
}

.firebrand-blue {
  color: #147AC2;
}

/* Background Colors */
.bg-white{
  background-color: #ffffff;
}

.bg-salmon {
  background-color: #e7655b;
}

.bg-cherry {
  background-color: #720500; /* rgb(114, 5, 0) */
}

/* TODO: Important styles are not AMP compatible! */
.bg-firebrand-red {
  background-color: #e0382b !important;
}

.bg-firebrand-blue {
  background-color: #147AC2 !important;
}

.bg-light-grey {
  background-color: #f2f1ed;
}

.bg-hero-grey {
  background-color: #f6f5f1;
}
