body {
  font-family: sans-serif;;
}

#menu {
  flex: 1 1 100%;
  justify-content: space-around;
  max-width: 40%;
}

.logo {
  margin-left: 1rem;
}

/* Override ampstart defaults */
.ampstart-headerbar .ampstart-navbar-trigger {
  color: #e0382b;
}

#main .g-artboard {
  margin:0 auto;
}
#main .g-artboard p {
  margin:0;
}

.g-aiPointText p { white-space: nowrap; }

#fb {
  position:relative;
  overflow:hidden;
}

/* Borders */
.border-black-1px {
  border: 1px solid #000000;
}

/* General Site Styles */
header {
  /*padding: 1rem 2rem;*/ /* Use amp-start spacing */
  padding-left: 2rem;
  padding-right: 2rem;
}

footer {
  padding: 1rem 2rem;
  background: black;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Mobile first plz */

/* From bass-override-vars... */

/*
@custom-media --breakpoint-xs (max-width: 40rem);
@custom-media --breakpoint-sm (min-width: 40.06rem);
@custom-media --breakpoint-md (min-width: 52.06rem);
@custom-media --breakpoint-lg (min-width: 64.06rem);
@custom-media --breakpoint-sm-md (min-width: 40.06rem) and (max-width: 52rem);
@custom-media --breakpoint-md-lg (min-width: 52.06rem) and (max-width: 64rem);
*/

.banner-image {
  max-width: 100%;
}

.contact-cta {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

/* Make sure the container is relatively positioned */
.figure-caption {
  position: absolute;
  bottom: 0;
  width: 35rem; /* TODO: Responsive plz! */
  padding: 1rem 2rem;
}

.figure-caption-full {
  position: absolute;
  bottom: 0;
  width: 100%; /* TODO: Responsive plz! */
  padding: 1rem 2rem;
}

.figure-caption-left {
  left: 0;
}

.figure-caption.bg-cherry,
.figure-caption-full.bg-cherry {
  background-color: rgba(114, 5, 0, 0.777);
}


.figure-caption-right {
  right: 0;
}

.action-link,
.action-button {
  display: inline-block;
  background: white;
  padding: 1rem 2rem;
  border: 1px solid #e0382b; /* Firebrand Red */
  text-decoration: none;
}

a.action-link,
a.action-link:active,
a.action-link:visited,
a.action-link:hover,
a.action-button:active,
a.action-button:visited,
a.action-button:hover {
  color: #e0382b;
}

.more-info-link {
  display: inline-block;
}

/* Menu Customization */
.ampstart-nav-item.highlighted {
  background-color: #e0382b;
  color: white;
}

.contact-us-nav-item {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

/* TODO: Figure out how to toggle these menu dropdowns (hint check out amp-start ampstart) */
.ampstart-dropdown-items {
  display: none;
}

/* Social */
.ampstart-icon {
  /*fill: #e0382b;*/
  fill: white;
}

/* Cards */
.card-list {
  /* Override base ul styles for card lists */
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  /* TODO: This needs to scale with font! */
  padding-inline-start: 20px;
}

.card-content-body {
  /* TODO: Something is screwed up, this is a hack to normalize block sizing */
  max-width: 22rem;
}

/* Quick fix to get action to drop to bottom of cards without JavaScript or complex layout changes */
.card-content-action > div {
  position: absolute;
  bottom: 30px;
}

.fb-card {
  padding-bottom: 100px;
}
/* Done */

/* Firebrand card styling */
.fb-card {
  padding: 1rem;
  padding-bottom: 120px;
  border: 1px solid #ccc;
}

/* Kill travel styles for our display */
/* TODO: We shouldn't be killing styles like this */
.travel-overflow-container {
  display: inline-block;
  min-width: auto;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  /* min-width: 100vw; */
  /* padding-left: calc((100vw - var(--width-3)) / 2); */
  /* padding-right: calc((100vw - var(--width-3)) / 2); */
}

.travel-overflow-container .flex {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}


/* Quick disable overflow scrolling on containers */
.travel-overflow-container {
  /* TODO: Cross browser fix accounting for vertical scrollbar width */
  min-width: auto;
  overflow: hidden;
}

.overflow-scroll {
  overflow: hidden;
}
/* Done */

/* Fix background color, uses var */
.travel-search {
  /* TODO: Override color vars */
  /*background-color: var(--color-purple);*/
  background-color: transparent;
}

.travel-results-result-link {
  display: none;
}

.travel-results-result-like {
  display: none;
}

.travel-results-result-flags {
  display: none;
}

.travel-results-result-subtext {
  margin-left: 1rem;
}

[class*=travel-popular-tilt-] {
  display: none;
}

.alp-form-container.ampstart-card {
  background: transparent;
  box-shadow: none;
}
