/* Custom stuff */
/* Override styles in Footer.vue */
footer {
  position: relative;
  width: 100%;
  left: 0;
  box-sizing: border-box;

  background: #161616;
  z-index: 1;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 40em) {
  footer {
    padding: 1px;

    h1, h2, h3, h4, h5, h6, p {
      text-align: center;
    }
  }
}

@media screen and (min-width: 102em) {
  footer {
    padding: 20vh 10rem 0;
  }
}
