@media screen and (max-width: 40em) {
  .hero-block {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .content-block {
    margin-left: 3rem;
    margin-right: 3rem;
    padding-bottom: 3rem;
  }

  .banner-block {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  /* Fix cases where we nest blocks */
  .hero-block .banner-block {
    margin-left: 0;
    margin-right: 0;
  }

  .banner-block .banner-block {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 40.06em) {
  .hero-block {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .content-block {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .banner-block {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  /* Fix cases where we nest blocks */
  .hero-block .banner-block {
    margin-left: 0;
    margin-right: 0;
  }

  .banner-block .banner-block {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 52.06em) {
  .hero-block {
    margin-left: 0;
    margin-right: 0;
    max-width: 60%;
  }

  .content-block {
    margin-left: 0;
    margin-right: 0;
    max-width: 50%;
  }

  .banner-block {
    margin-left: 0;
    margin-right: 0;
    max-width: 65%;
  }
}
