:root {
  --spacing-base: 1.5rem;
  --breakpoint-xs: '(max-width: 40em)';
  --breakpoint-sm: '(min-width: 40em)';
  --breakpoint-sm-md: '(min-width: 40em) and (max-width: 52em)';
  --breakpoint-md-lg: '(min-width: 52em) and (max-width: 64em)';
  --breakpoint-lg: '(min-width: 64em)';
  --prefix-xs: 'xs';
  --prefix-sm: 'sm';
  --prefix-sm-md: 'sm-md';
  --prefix-md-lg: 'md-lg';
  --prefix-lg: 'lg';
}

/* Custom Margins */
.space-all {
  margin: 3rem;
}

.no-space-top {
  margin-top: 0;
}

.space-top {
  margin-top: 3rem;
}

.space-top-2x {
  margin-top: 6rem;
}

.space-top-half {
  margin-top: 1.5rem;
}

.space-bottom {
  margin-bottom: 3rem;
}

.space-bottom-2x {
  margin-bottom: 6rem;
}

.space-bottom-half {
  margin-bottom: 1.5rem;
}

.space-left {
  margin-left: 3rem;
}

.space-right {
  margin-right: 3rem;
}

.no-space-bottom {
  margin-bottom: 0;
}

/* Custom Padding */
.pad-all {
  padding: 3rem;
}

.pad-all-2x {
  padding: 6rem 3rem;
}

.pad-top {
  padding-top: 3rem;
}

.pad-top-2x {
  padding-top: 6rem;
}

.pad-bottom {
  padding-bottom: 3rem;
}

.pad-bottom-2x {
  padding-bottom: 6rem;
}

.pad-left-half {
  padding-left: 1.5rem;
}

.pad-right-half {
  padding-right: 1.5rem;
}

$breakpoints: xs sm sm-md md-lg lg;
$breakpoint-xs: (max-width: 40em);
$breakpoint-sm: (min-width: 40em);
$breakpoint-sm-md: (min-width: 40em) and (max-width: 52em);
$breakpoint-md-lg: (min-width: 52em) and (max-width: 64em);
$breakpoint-lg: (min-width: 64em);

$queries: $breakpoint-xs $breakpoint-sm $breakpoint-sm-md $breakpoint-md-lg $breakpoint-lg;
@for $i from 1 through 4 {
  @media screen and #{nth($queries, $i)} {
    .#{nth($breakpoints, $i)}-space-all {
      margin: 3rem;
    }

    .#{nth($breakpoints, $i)}-no-space-top {
      margin-top: 0rem !important;
    }

    .#{nth($breakpoints, $i)}-space-top {
      margin-top: 3rem;
    }

    .#{nth($breakpoints, $i)}-space-top-half {
      margin-top: 1.5rem;
    }

    .#{nth($breakpoints, $i)}-space-bottom {
      margin-bottom: 3rem;
    }

    .#{nth($breakpoints, $i)}-space-bottom-half {
      margin-bottom: 1.5rem;
    }

    .#{nth($breakpoints, $i)}-space-left {
      margin-left: 3rem;
    }

    .#{nth($breakpoints, $i)}-space-right {
      margin-right: 3rem;
    }

    .#{nth($breakpoints, $i)}-no-space-bottom {
      margin-bottom: 0;
    }

    .#{nth($breakpoints, $i)}-pad-all {
      padding: 3rem;
    }

    .#{nth($breakpoints, $i)}-pad-all-2x {
      padding: 6rem 3rem;
    }

    .#{nth($breakpoints, $i)}-no-pad-top {
      padding-top: 0rem;
    }

    .#{nth($breakpoints, $i)}-pad-top {
      padding-top: 3rem;
    }

    .#{nth($breakpoints, $i)}-pad-top-2x {
      padding-top: 6rem;
    }

    .#{nth($breakpoints, $i)}-pad-bottom {
      padding-bottom: 3rem;
    }

    .#{nth($breakpoints, $i)}-pad-bottom-2x {
      padding-bottom: 3rem;
    }

    .#{nth($breakpoints, $i)}-pad-left-half {
      padding-left: 1.5rem;
    }

    .#{nth($breakpoints, $i)}-pad-right-half {
      padding-right: 1.5rem;
    }
  }
}

.height-full,
.height-100 {
  height: 100vh;
}

.height-half,
.height-50 {
  height: 50vh;
}

.height-third,
.height-333 {
  height: 33.33333vh;
}

.height-two-thirds,
.height-666 {
  height: 66.66667vh;
}

/* Responsive spacing util adjustments */
@media screen and (max-width: 40rem) {
  .space-all {
    margin: 3rem 1rem;
  }

  .pad-all {
    padding: 3rem 1rem;
  }

  .height-half,
  .height-50 {
    height: auto;
  }

  .height-third,
  .height-333 {
    height: auto;
  }
}

@media screen and (min-width: 52.06rem) {

}
