/* Math fx */
@function pow($number, $exp) {
  $value: 1;
  @if $exp > 0 {
    @for $i from 1 through $exp {
      $value: $value * $number;
    }
  } @else if $exp < 0 {
    @for $i from 1 through -$exp {
      $value: $value / $number;
    }
  }
  @return $value;
}

@function fact($number) {
  $value: 1;
  @if $number > 0 {
    @for $i from 1 through $number {
      $value: $value * $i;
    }
  }
  @return $value;
}

@function pi() {
  @return 3.14159265359;
}

@function rad($angle) {
  $unit: unit($angle);
  $unitless: $angle / ($angle * 0 + 1);
  // If the angle has 'deg' as unit, convert to radians.
  @if $unit == deg {
    $unitless: $unitless / 180 * pi();
  }
  @return $unitless;
}

@function sin($angle) {
  $sin: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $sin: $sin + pow(-1, $i) * pow($angle, (2 * $i + 1)) / fact(2 * $i + 1);
  }
  @return $sin;
}

@function cos($angle) {
  $cos: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $cos: $cos + pow(-1, $i) * pow($angle, 2 * $i) / fact(2 * $i);
  }
  @return $cos;
}

@function tan($angle) {
  @return sin($angle) / cos($angle);
}

@function get-vw($target) {
  $vw-context: (1000*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@import './components/hero-section';
@import './components/menu';
@import './components/actions';
@import './components/figure-caption';
@import './components/service-detail-card';
@import './components/video-block-bg';
@import './components/video-banner';
@import './components/text-banner';
@import './parts/header';
@import './parts/footer';
@import './parts/logo';

/* Temporary place for random utils */
.overflow-scroll {
  overflow: hidden;
}

.text-justify {
  text-align: justify;
}

.flip-x {
  flex-direction: row-reverse;
}

.clearfix {
  clear: both;
  overflow: visible;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

@media (max-width: 40em) {
  .xs-order-1 {
    order: 1;
  }

  .xs-order-2 {
    order: 2;
  }
}

@media (min-width: 40em) {
  .sm-order-1 {
    order: 1;
  }

  .sm-order-2 {
    order: 2;
  }
}

/* Borders */
.border-black-1px {
  border: 1px solid #000000;
}

/* From bass-override-vars... */

/*
@custom-media --breakpoint-xs (max-width: 40em);
@custom-media --breakpoint-sm (min-width: 40.06em);
@custom-media --breakpoint-md (min-width: 52.06em);
@custom-media --breakpoint-lg (min-width: 64.06em);
@custom-media --breakpoint-sm-md (min-width: 40.06em) and (max-width: 52em);
@custom-media --breakpoint-md-lg (min-width: 52.06em) and (max-width: 64em);
*/

/* Theme */
html, body, main {
  max-width: 100%;
}

body {
  font-family: sans-serif;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

:root {
  --cblue: #33587a;
  --ccherry: #720500;
  --cgrey : #3E3A37;
  --cwhite : #ffffff;
  --ccream : #FAFBFC;
  --cgrey_green: #435466;
  --clightgrey : #DAD9D7;

  --body_height_8: calc((100vh - 113px)/8);
  --body_height_4: calc((100vh - 113px)/4);
}

.icon-arrow {
  mask:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 284.929 284.929'><path d='M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441		L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z'/></svg>");
}
i {
  vertical-align: middle;
  display: inline-block;
  background-repeat: no-repeat;
}

ul {padding: 0; margin: 0;}
li {list-style: none;}

//.wrap {max-width: 1024px; min-width: 320px;}
.wrap {min-width: 320px; height: 100%;}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 1.5rem;
  -moz-osx-font-smoothing: grayscale;
}

/* TODO: Don't apply these set widths everywhere... target testimonials only? */
img.circle {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
  max-width: none;
  object-fit: cover;
}

@media screen and (min-width: 1400px) {
  .testimonial-block-wrapper img {
    position: relative;
    bottom: -7px;
  }
}

.contact-cta {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

/* Menu Customization */
.ampstart-nav-item.highlighted {
  background-color: #33587a;
  color: white;
}

.contact-us-nav-item {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

/* TODO: Figure out how to toggle these menu dropdowns (hint check out amp-start ampstart) */
.ampstart-dropdown-items {
  display: none;
}

/* Social */
.ampstart-icon {
  /*fill: #33587a;*/
  fill: white;
}

/* Cards */
.card-list {
  /* Override base ul styles for card lists */
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  /* TODO: This needs to scale with font! */
  padding-inline-start: 20px;
}

.card-content-body {
  /* TODO: Something is screwed up, this is a hack to normalize block sizing */
  max-width: 22rem;
}

/* Quick fix to get action to drop to bottom of cards without JavaScript or complex layout changes */
.card-content-action > div {
  position: absolute;
  bottom: 30px;
}

.fb-card {
  padding-bottom: 100px;
}
/* Done */

/* Blue Collar card styling */
.fb-card {
  padding: 1rem;
  padding-bottom: 120px;
  border: 1px solid #ccc;
}
/* Done */

@media screen and (max-width: 660px) {
  .banner-image {
    max-width: 100%;
    object-fit: contain;
  }
}

/* Homepage hero */
.homepage-hero {
  min-height: 90vh;
  /*overflow-x: hidden;*/
}

@media screen and (min-width: 40em) {
  .homepage-hero p,
  .homepage-hero li,
  .homepage-hero a:not(.action-link),
  .homepage-hero a:not(.action-button) {
    font-size: 20px;
  }
}

ul.bullets {
  list-style: square inside;
}

ul.bullets li {
  list-style: square inside;
}

.test svg {
  z-index: 10;
  fill: white;
}

.background-map {
  position: absolute;
  width: 100%;
  height: 100%;
}

#contact-form {
  position: relative;
  z-index: 5;
}

@media screen and (min-width: 40em) {
  /* This block is partially covered by the angle from the previous section */
  .center-testimonial {
    top: 15px !important;
  }

  /* TODO: Make these conditional based on browser, moving to css clip-path */
  /*.shift-section-up > div {
    position: relative;
    top: -102px;
    z-index: 2;
  }

  .shift-section-up + .shift-section-up {
    margin-bottom: -103px;
    border-bottom: 1px solid white;
  }*/

  /* Adjust testimonial profile badges */
  .circle-composite.small {
    position: relative;
    left: -20px;
  }
}

.guitar-block {
  width: 100%;
  position: relative;
  z-index: 5;
}

@media screen and (min-width: 40em) {
  .guitar-block {
    width: 60%;
  }
}

.g-services,
.g-services p {
  text-align: center;
}

a.action-link {
  border-radius: 5px;
}

.drop-shadow {
  filter: drop-shadow(2px 4px 6px rgba(16, 16, 16, 0.33333)) brightness(0.777);
  &:hover {
    filter: drop-shadow(2px 4px 6px rgba(16, 16, 16, 0.33333)) brightness(0.777);
  }
}

.drop-shadow-up {
  filter: drop-shadow(0px -9px 6px rgba(16, 16, 16, 0.15)) brightness(0.777);
  &:hover {
    filter: drop-shadow(0px -9px 6px rgba(16, 16, 16, 0.15)) brightness(0.777);
  }
}

.ampstart-input > label {
  color: white !important;
}

/* TODO: Fix the default spacing! */
textarea {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

