:root {
  --h1: 3rem; /* 48px */
  --h2: 2rem; /* 32px */
  --h3: 1.5rem; /* 24px */
  /* TODO: Fix */
  --h4: 18px; /*18px*/
  --h5: .875rem; /*14px*/
  --h6: .75rem; /*12px*/

  --space-1: .5rem; /* 8px */
  --space-2: 1rem; /* 16px */
  --space-3: 1.5rem; /* 24px */
  --space-4: 2rem; /* 32px */


  --line-height-1: 1rem;
  --line-height-2: 1.125rem; /*18px*/
  --line-height-3: 1.5rem;
  --line-height-4: 2rem;


  --bold-font-weight: bold;

  --width-1: 24rem;
  --width-2: 32rem;
  --width-3: 48rem;
  --width-4: 64rem;

  --z1: 1;
  --z2: 2;
  --z3: 3;
  --z4: 4;

  --letter-spacing: 1;
  --caps-letter-spacing: .2em;

  --border-width: 1px;
  --border-radius: 3px;

  //@custom-media --breakpoint-xs (max-width: 40em);
  //@custom-media --breakpoint-sm (min-width: 40.06em);
  //@custom-media --breakpoint-md (min-width: 52.06em);
  //@custom-media --breakpoint-lg (min-width: 64.06em);
  //@custom-media --breakpoint-sm-md (min-width: 40.06em) and (max-width: 52em);
  //@custom-media --breakpoint-md-lg (min-width: 52.06em) and (max-width: 64em);
}
